services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.prod
    image: backend-app:1.0.0
    container_name: backend-prod
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgresql://postgres:password@postgres:5432/mydb
    restart: always
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
      - postgresdata:/var/lib/postgresql/data

volumes:
  postgresdata:
